@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');

.Welcome{
    font-family: 'Abyssinica SIL', serif;
    font-size: 40px;
    text-align: center;
    text-shadow: 5px 5px 6px grey;
    margin-top: 6px;
}
.Home{
    margin-left:5rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.Members{
    display: flex;
    /* flex-direction: column; */
    text-align: center;
    /* position: relative; */
   margin: 20px;
   border: 1px solid lightgray;
   height: fit-content;
   width: 300px;
   flex-wrap: wrap;
   gap: 1rem;
   position: absolute;
   top: 3.5rem;
   right: 0rem;
   box-shadow: 3px 5px 10px gray;
}

.member-details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    gap: 0.2rem;
    margin: 0 auto;

    
}
.emp-img{
    height: 50px;
    width: 50px;
    border-radius: 20px;
   
}

.emp-name{
    font-size: 15px;
    font-weight: bold;
    
}
.emp-department{
    font-size: 10px;
    opacity: 0.5;
}
.emp-img-container{
   display: flex;
   /* padding-left: 2px; */
}

.chart-Heading{
    color: red;
    text-decoration: underline;
}