@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');

.Welcome{
    font-family: 'Abyssinica SIL', serif;
    font-size: 40px;
    text-align: center;
    text-shadow: 5px 5px 6px grey;
    margin-top: 6px;
}
.Home{
    margin-left:5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 30px;
    font-style: italic;
}


